 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 

html{
    font-size: 10px;
}
 
body{
    font-family:"Figtree",sans-serif ;
    font-size: 10px;
    background-color: var(--yellow-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}
 
:root{
    --yellow-color:hsl(47, 88%, 63%);
    --white-color:hsl(0, 0%, 100%);
    --grey-500:hsl(0, 0%, 42%);
    --gray-900:hsl(0, 0%, 7%);

}
 

.blog-preview-card{
    background-color:var(--white-color);
    max-width: 40rem;
    padding: 3rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--gray-900);
    box-shadow: 1rem 1rem var(--gray-900);
}
 
.illustration-img{
    width: 100%;
    border-radius:2rem;
    margin-bottom: 2rem;
}
 
h3{
    font-size: 1.8em;
    font-weight: 800;
    color: var(--gray-900);
}

.learning{
    background-color: var(--yellow-color);
    width: fit-content;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.7rem;
}

.published{
    font-size:1.6em;
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--gray-900);
}


h1{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 2rem;
    color: var(--gray-900);
}

.paragraph{
    font-size: 1.6em;
    line-height: 2.4rem;
    color: var(--grey-500);
    margin-bottom: 2rem;
}
 
.creator{
    display: flex;
    align-items: center;
    gap: 2rem;
}
 
 
 
 
 
 .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
      }



 @media screen and (max-width:460px){
    body{
        padding: 0 3rem;
    }
 }     